
{% extends "base.html" %}

{% block content %}
<form action="/" method="POST">

<div class="container mt-5">
    <h1 class="text-center title-text">SEAMLESS TEXTURE CALCULATOR</h1>
</div>

<div class="calculation-container">

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-warning">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

    <div class="row mb-4">
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='images/2D_Pattern_No_BackG.png') }}" class="image-placeholder">
        </div>
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='images/Original_Size_Texture.png') }}" class="rectangle-image">
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-6">
            <input type="text" name="pattern_width" placeholder="INPUT 2D PATTERN WIDTH" value="{{ request.form['pattern_width'] }}">
        </div>
        <div class="col-md-6">
            <input type="text" name="image_width" placeholder="INPUT TEXTURE WIDTH" value="{{ request.form['image_width'] }}">
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-4 offset-md-2">
            <select name="rounding_method">
                <option value="up">DOWN</option>
                <option value="down">UP</option>
            </select>
        </div>
        <div class="col-md-4">
            <button type="submit">Calculate</button>
        </div>
    </div>

    <div class="col-md-12 text-center">

    <div class="final-width-label">FINAL IMAGE WIDTH:</div>
    <div class="flex-container">
        <input type="text" class="calculated-output" id="result" value="{% if final_width %}{{ final_width }}{% endif %}" readonly style="width: 300px;"> <!-- Adjust the width value as needed -->
        <button id="copyButton" class="wide-button">COPY</button>
    </div>
</div>
</div>
<div class="example-images-container">
    <p class="example-label">EXAMPLE:</p>
    <div class="row mb-5">
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='images/Not_Seamless_Render_No_BackG.png') }}" class="square-image">
            <p class="example-label">BEFORE</p>
        </div>
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='images/Seamless_Render_No_BackG.png') }}" class="square-image">
            <p class="example-label">AFTER</p>
        </div>
    </div>
</div>

<script>
document.querySelector('#copyButton').addEventListener('click', function() {
    // Get the input element with the result
    let resultInput = document.getElementById('result');

    // Select the content of the input
    resultInput.select();

    // Copy to clipboard
    document.execCommand('copy');

    alert("Copied to clipboard!");
});

</script>

</form>
{% endblock %}
